/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  background-color: #f8f8f8;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-inline: 24px;
  margin-top: 24px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-inline: 24px;
  column-gap: 48px;
}

.nav-link,
.nav-home {
  position: relative;
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: #4048d6;

  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}

.nav-home:hover,
.nav-home:focus,
.nav-link:hover,
.nav-link:focus {
  color: #bd34fe;
}

.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  background: #747bff;
}

.nav-home:hover:after,
.nav-link:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  background: #bd34fe;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  /* align-items: center;*/
}

.main-title-gradient {
  display: block;
  font-size: 6em;
  background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.gallery {
  width: 1152px;
  background-color: white;
  padding: 24px 156px;
  display: flex;
  grid-row-gap: 24px;
  grid-column-gap: 24px;
  flex-wrap: wrap;
  border-radius: 8px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
}

.feedback-form {
  width: 408px;
  height: 296px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  gap: 8px;

  label {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
  }

  input {
    height: 40px;
    padding-left: 12px;
    border: 1px solid #808080;
    border-radius: 4px;
  }

  input:hover {
    border: 1px solid black;
  }

  textarea {
    padding-left: 12px;
    border: 1px solid #808080;
    border-radius: 4px;
  }

  textarea:hover {
    border: 1px solid black;
  }

  button {
    width: 95px;
    height: 40px;
    margin-top: 12px;
    background: #4e75ff;
    color: #fafafa;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }

  button:hover {
    background-color: #6c8cff;
  }
}
